@page "/admin"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using PartyDisplay.OBS.Lib.Data
@using PartyDisplay.OBS.Lib.Data.Store
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Admin Override</PageTitle>
<h3>Board</h3>
<div class="form-group">
    <label>
        Game Override:
        <select @bind="GameName">
            @* TODO: Replace this with an actual list of available games from the server. *@
            @for (var g = 2; g <= 8; g++) {
                @if (g == 3) continue;
                <option value="@($"mp{g}")">Mario Party @g</option>
            }
        </select>
    </label>
    <label>
        Region:
        @* TODO: Make this actually matter *@
        <select @bind="_gameRegion">
            <option value="NTSC">NTSC</option>
            <option value="PAL">PAL</option>
            <option value="NTSC-J">NTSC-J</option>
        </select>
    </label>
</div>
<div class="form-group">
    <label>
        Board:
        <input @bind="_boardName"/>
    </label>
</div>
<div class="form-group">
    <label>
        Turn:
        <input type="number" @bind="_turnCount"/>
    </label>
</div>
<div class="form-group">
    <label>
        Turn Limit:
        <input type="number" @bind="_turnLimit"/>
    </label>
</div>
<button @onclick="UpdateBoard" disabled="@(!IsBoardConnected)">Update Board</button>

@{
    var i = 1;
    foreach (var player in _players) {
        <h3>Player @i</h3>
        <div class="form-group">
            <label>
                Name:
                <input type="text" @bind="player.Name"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Character:
                <select @bind:get="player.Character?.Name" @bind:set="x => SetCharacter(player, x)">
                    <option value=""></option>
                    @foreach (var c in _characters) {
                        <option value="@c.Name">@c.Name</option>
                    }
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>
                Star Count:
                <input type="number" @bind-value="player.StarCount"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Coin Count:
                <input type="number" @bind-value="player.CoinCount"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Ranking:
                <select @bind="player.Ranking">
                    <option value=""></option>
                    @foreach (var rank in Enum.GetValues(typeof(Ranking))) {
                        <option value="@rank">@rank</option>
                    }
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>
                Landing Space:
                <select @bind="player.LandingColor">
                    <option value=""></option>
                    @foreach (var space in Enum.GetValues(typeof(SpaceColor))) {
                        <option value="@space">@space</option>
                    }
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>
                Item(s):
                @{
                    int j = 0;
                    foreach (var slot in player.Items) {
                        int slotIndex = j;
                        <select @bind:get="slot?.Name" @bind:set="x => SetItem(player, slotIndex, x)">
                            <option value=""></option>
                            @foreach (var item in _items) {
                                if(item is null) continue;
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                        j++;
                    }
                }
            </label>
        </div>
        <button @onclick="@(x => UpdatePlayer(player))" disabled="@(!IsPlayerConnected)">Update Player @i</button>
        i++;
    }
}

@code {
    private HubConnection? _boardHubConnection;
    private HubConnection? _playerHubConnection;
    private string? _gameRegion;
    private string? _boardName;
    private short _turnCount;
    private short _turnLimit;
    private readonly IPlayer<ICharacter, IItem, IStatus>[] _players = [
        new Lib.Xfer.Player(),
        new Lib.Xfer.Player(),
        new Lib.Xfer.Player(),
        new Lib.Xfer.Player()
    ];
    private ICharacter[] _characters = [];
    private IItem?[] _items = [];
    
    private string? _gameName;
    private string? GameName {
        get => _gameName;
        set {
            _gameName = value;
            switch (_gameName) {
                case "mp2":
                    _characters = Mp2.Characters;
                    _items = Mp2.Items;
                    _players[0].BonusStars = new(Mp2.BonusStars);
                    _players[1].BonusStars = new(Mp2.BonusStars);
                    _players[2].BonusStars = new(Mp2.BonusStars);
                    _players[3].BonusStars = new(Mp2.BonusStars);
                    _players[0].Items = new IItem[1];
                    _players[1].Items = new IItem[1];
                    _players[2].Items = new IItem[1];
                    _players[3].Items = new IItem[1];
                    break;
                case "mp4":
                    _characters = Mp4.Characters;
                    _items = Mp4.Items;
                    _players[0].BonusStars = new(Mp4.BonusStars);
                    _players[1].BonusStars = new(Mp4.BonusStars);
                    _players[2].BonusStars = new(Mp4.BonusStars);
                    _players[3].BonusStars = new(Mp4.BonusStars);
                    _players[0].Items = new IItem[3];
                    _players[1].Items = new IItem[3];
                    _players[2].Items = new IItem[3];
                    _players[3].Items = new IItem[3];
                    break;
                case "mp5":
                    _characters = Mp5.Characters;
                    _items = Mp5.Items;
                    _players[0].BonusStars = new(Mp5.BonusStars);
                    _players[1].BonusStars = new(Mp5.BonusStars);
                    _players[2].BonusStars = new(Mp5.BonusStars);
                    _players[3].BonusStars = new(Mp5.BonusStars);
                    _players[0].Items = new IItem[3];
                    _players[1].Items = new IItem[3];
                    _players[2].Items = new IItem[3];
                    _players[3].Items = new IItem[3];
                    break;
                case "mp6":
                    _characters = Mp6.Characters;
                    _items = Mp6.Items;
                    _players[1].BonusStars = new(Mp6.BonusStars);
                    _players[2].BonusStars = new(Mp6.BonusStars);
                    _players[3].BonusStars = new(Mp6.BonusStars);
                    _players[0].BonusStars = new(Mp6.BonusStars);
                    _players[0].Items = new IItem[3];
                    _players[1].Items = new IItem[3];
                    _players[2].Items = new IItem[3];
                    _players[3].Items = new IItem[3];
                    break;
                case "mp7":
                    _characters = Mp7.Characters;
                    _items = Mp7.Items;
                    _players[1].BonusStars = new(Mp7.BonusStars);
                    _players[2].BonusStars = new(Mp7.BonusStars);
                    _players[3].BonusStars = new(Mp7.BonusStars);
                    _players[0].BonusStars = new(Mp7.BonusStars);
                    _players[0].Items = new IItem[3];
                    _players[1].Items = new IItem[3];
                    _players[2].Items = new IItem[3];
                    _players[3].Items = new IItem[3];
                    break;
                case "mp8":
                    _characters = Mp8.Characters;
                    _items = Mp8.Items;
                    _players[1].BonusStars = new(Mp8.BonusStars);
                    _players[2].BonusStars = new(Mp8.BonusStars);
                    _players[3].BonusStars = new(Mp8.BonusStars);
                    _players[0].BonusStars = new(Mp8.BonusStars);
                    _players[0].Items = new IItem[3];
                    _players[1].Items = new IItem[3];
                    _players[2].Items = new IItem[3];
                    _players[3].Items = new IItem[3];
                    break;
            }
        }
    }

    protected override async Task OnInitializedAsync() {
        _boardHubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/hub/board"))
            .WithAutomaticReconnect()
            .Build();
        
        _boardHubConnection.On<string>("GetGame", (game) => {
            GameName = game;
            InvokeAsync(StateHasChanged);
        });

        await _boardHubConnection.StartAsync();

        _playerHubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/hub/player"))
            .WithAutomaticReconnect()
            .Build();

        _playerHubConnection.On<byte, string>("GetName", (player, name) => {
            _players[player].Name = name;
            InvokeAsync(StateHasChanged);
        });
        
        await _playerHubConnection.StartAsync();
    }

    private async Task UpdateBoard() {
        if (_boardHubConnection is not null) {
            await _boardHubConnection.SendAsync("SetGame", GameName);
            await _boardHubConnection.SendAsync("SetName", _boardName);
            await _boardHubConnection.SendAsync("SetTurnCurrent", _turnCount);
            await _boardHubConnection.SendAsync("SetTurnLimit", _turnLimit);
        }
    }

    private async Task UpdatePlayer(IPlayer<ICharacter, IItem, IStatus> p) {
        int i = Array.IndexOf(_players, p) + 1;
        if (_playerHubConnection is not null) {
            await _playerHubConnection.SendAsync("SetName", i, p.Name);
            await _playerHubConnection.SendAsync("UpdateCharacter", i, p.Character);
            await _playerHubConnection.SendAsync("UpdateStarCount", i, p.StarCount);
            await _playerHubConnection.SendAsync("UpdateCoinCount", i, p.CoinCount);
            await _playerHubConnection.SendAsync("UpdateRank", i, p.Ranking);
            await _playerHubConnection.SendAsync("UpdateSpace", i, p.LandingColor);
        }
    }

    private void SetCharacter(IPlayer<ICharacter, IItem, IStatus> player, string? character) {
        if (character is null) return;
        player.Character = _characters.Single(x => x.Name == character);
    }
    
    private void SetItem(IPlayer<ICharacter, IItem, IStatus> player, int slot, string selected) {
        player.Items[slot] = _items.Single(x => x.Name == selected);
    }

    private bool IsBoardConnected => _boardHubConnection?.State == HubConnectionState.Connected;
    private bool IsPlayerConnected => _playerHubConnection?.State == HubConnectionState.Connected;
    
    public async ValueTask DisposeAsync() {
        if (_boardHubConnection is not null) {
            await _boardHubConnection.DisposeAsync();
        }

        if (_playerHubConnection is not null) {
            await _playerHubConnection.DisposeAsync();
        }
    }
}